.footer{    
    background: #2F303A; 
    padding-bottom: 60px; 
    padding-top: 60px;          
}

.footer-container{    
    align-items: baseline;
}
    
.footer-container__logo{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;    
}

.footer-container__logo-studio{
    color: var(--main-color);
}

.footer-container__ftr-adrs-list-link:not(:last-child){
    margin-bottom: 8px;
}

.footer-container__logo{
    font-family: var(--secondary-font);
    font-style: 400;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.location {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-family: var(--secondary-font);    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;    
    letter-spacing: 0.03em;
    color: var(--main-color);     
    transition: color var(--time-action) var(--timing-function);  
        &:hover,
        &:focus{
            color: var(--location-color);}
    }

    .footer-container__ftr-adrs-desc {
        display: flex;
        justify-content: center;        
        font-family: var(--main-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        font-style: normal;
        transition: color var(--time-action) var(--timing-function);
    
            &:hover,
            &:focus{
                color: var(--main-color);}
    }
    
    
    
    .footer-form__head{
        margin-top: 12px;
        font-family: var(--secondary-font);  
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--main-color);
        margin-bottom: 20px;
    }
    
    .footer-form__label-email{
        display: flex;
        justify-content: center;
    }
    
    .footer-input-email{
        width: 450px;
        height: 50px;
        border: 1px solid var(--location-color);   
        background: none;
        border-radius: 4px;
        padding-top: 15px;
        padding-left: 16px;
        padding-bottom: 15px;
        color: var(--main-color);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        margin-bottom: 20px;
    
            &::placeholder{
                color: var(--location-color);
        }   
    }
    
    .footer-btn{
        display: flex;
        justify-content: center;

    }
    
    .footer-form-button{
        display: flex;
        padding-left: 27px;
        padding-top: 8px;        
        width: 200px;
        height: 50px;       
        background-color: var(--accent-color);
        font-family: var(--main-font);
        font-size: 16px;
        line-height: 1.87;    
        letter-spacing: 0.06em;
        color: #FFFFFF;    
        align-items: baseline;
        border-color: transparent;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
        transition: var(--time-action) var(--timing-function);
    
            &:hover,
            &:focus{
                background-color: var(--hover-color);
                
            }    
    }
    
      
    .footer-form-button__svg{
        position: absolute;   
        fill: var(--main-color);
        margin-left: 120px;
        margin-top: 4px; 
        width: 24px;
        height: 24px;
      
    }
    @media screen and (max-width: 767px){
     
        .footer-form__head{
            margin-top: 60px;
        }

        .footer-form{
            margin-top: 60px;
        }

        .footer-social {    
            margin-top: 60px;
               
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px){
        .footer-container{
            display: flex;
            justify-content: space-around;
        }
    

        .footer-container__address{
            margin-left: 76px;
        }

        .footer-form{
            margin-top: 60px;
        }
    }

    @media screen and (min-width: 1200px) {
        
        .footer-container{
            display: flex;
            justify-content: space-between;
        }
           
       .footer-desktop {
           display: flex;
           
          }
          
       .footer-container__address{
           width: 231px;
           margin-left: 15px;
        }

        .footer-container__logo{
            display: flex;
            justify-content: start;
        }

        .footer-container__ftr-adrs-list-link{
            display: flex;
            justify-content: start;
            
        }

        .footer-social{
            margin-left: 70px;
        }

        .footer-form{
            margin-left: 93px;
        }

       .footer-input-email{
            width: 358px;   
        }

        .footer-form__head{
            text-align: left;
        }

        .footer-form__thumb{
            display: flex;
            
        }

        .footer-btn{
            margin-left: 12px;
          
        }

    }

    
