.our-clients{
    padding-top: 60px;
    padding-bottom: 60px;
}

.our-clients-container__item{
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--link-title-text-color);
    margin-bottom: 30px;

}

.our-clients-container__list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
       margin-top: -30px;       
}

.our-clients-container__desc{
    height: 92px;
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;    
}

.our-clients-container__link{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--team-container__social-item-link-color);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition:  border-color var(--time-action) var(--timing-function);       
        &:hover,
        &:focus{
            border-color: var(--accent-color);}
}
    
.our-clients-container__svg{
    fill: var(--desc-text-color);
    transition: fill var(--time-action) var(--timing-function);

    .our-clients-container__link:hover &,
    .our-clients-container__link:focus & {   
            fill: var(--accent-color);
        }
    }

    @media screen and (min-width: 768px) {
        .our-clients-container__list{
              margin-left: -30px;
               margin-top: -30px;       
        }
        
        .our-clients-container__desc{
            height: 92px;
            flex-basis: calc((100% - 90px) / 3);
            margin-left: 30px;
            margin-top: 30px;    
        }
    }

    @media screen and (min-width: 1200px) {
        .our-clients-container__list{
            margin-left: -30px;
             margin-top: -30px;       
      }
      
      .our-clients-container__desc{
          flex-basis: calc((100% - 180px) / 6);
          margin-left: 30px;
          margin-top: 30px;    
      }
    }

/* .our-clients-container__item {
    font-family: var(--main-font);    
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--link-title-text-color);
    margin-bottom: 50px;
}

.our-clients-container__list{
    display: flex;
    align-items: center;   
    
}

.our-clients-container__desc{  
    height: 92px;
    flex-basis: calc( (100% - 150px) / 6);    

        &:not(:last-child){
            margin-right: 30px;
        }    
}


.our-clients-container__link{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--team-container__social-item-link-color);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition:  border-color var(--time-action) var(--timing-function);

        &:hover,
        &:focus{
        border-color: var(--accent-color);
    }
}


}




 */