:root {
    --main-color: #ffffff;
    --accent-color: #2196F3;
    --link-title-text-color: #212121;
    --desc-text-color: #757575;
    --supporting-color: #F5F4FA; 
    --border-color: #ececec;
    --hover-color: #188CE8;
    --modal-backdrop-color: rgba(0, 0, 0, 0.2);
    --modal-border-color: rgba(33, 33, 33, 0.2);
    --modal-placeholder-color: (117, 117, 117, 0.5);
    --team-container__social-item-link-color: #AFB1B8;
    --location-color: rgba(255, 255, 255, 0.6);
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif; 
    --time-action: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);     
}

